@import "tailwindcss";


:root {
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: normal !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #1f502d !important;
  --dark-green: #1f502d !important;
  --dark: #000000 !important;
}

/* Manrope Light */
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Light'), local('Manrope-Light'),
       url('utils/fonts/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

/* Manrope Regular */
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Regular'), local('Manrope-Regular'),
       url('utils/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

/* Manrope Medium */
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Medium'), local('Manrope-Medium'),
       url('utils/fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

/* Manrope SemiBold */
@font-face {
  font-family: 'Manrope';
  src: local('Manrope SemiBold'), local('Manrope-SemiBold'),
       url('utils/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

/* Manrope Bold */
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Bold'), local('Manrope-Bold'),
       url('utils/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

/* Manrope ExtraBold */
@font-face {
  font-family: 'Manrope';
  src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
       url('utils/fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.manrope {
  font-family: 'Manrope', sans-serif;
}

html, body, #root {
  width: 100%;
  max-width: 100vw; 
 overflow-x: clip !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


html {
  scroll-behavior: smooth;
}
.container{
  width: 90%;
  margin: 10px auto;
}
.carousel{
  border: 2px solid red;
  width: 100%;
  height: 400px;
}
.slider{
  height: 100%;
  display: flex;
}
.slider > .section {
  flex-basis: 100%;
}